html, body {
    margin: 0 auto;
    padding: 0px;
}

.container {
    background-color:#E5FCE5;
}

.topbar {
    height:50px;
    background-color:#210124;
}

.navbar {
    min-width:600px;
    height:50px;
    margin-left: 14.19%;
    margin-right: 14.19%;
    background-color:#750D37;
}

.navitems a {
    display:inline-block;
    color:#FEFFFE;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width:16.667%;
    min-width:100px;
    height:50px;
    line-height: 50px;
    text-align: center;
}

.navitems a:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.banner {
    max-height:400px;
    background-color:#B3DEC1;
    margin-left: 14.19%;
    margin-right: 14.19%;
}

.animalsbanner {
    height:200px;
    background-color:#B3DEC1;
    margin-left: 14.19%;
    margin-right: 14.19%;
}

.content {
    margin: 50px 14.19% 0px 14.19%;
    height:730px;
}
.sidebar{
    float:left;
}
.sidebar h3 {
    color: #750D37;
}
.sidebaritems a{
    text-decoration: none;
    color: #210124;
    font-weight: bold;
    line-height: 25px;
}
.contentitems {
    height:600px;
}

.content * {
    font-family: 'Roboto', sans-serif;
}
.content .contactbox {
    width:400px;
    height:200px;
    background-color:#B3DEC1;
    float: left;
}
.content .contactbox h3{
    line-height: 50px;
    text-align:center;
    
}
.content .contactbox .contactinfo {
    margin-top: 20px;
    margin-left: 20px;
}
.content .contactbox p{
    font-weight: bold;
    
    line-height: 7px;
}
.content .googlemaps {
    float: right;
}
.animals {
    margin-left: 28%;
    width: 1165px;
    min-width:600px;
    height: 100%;
    margin-bottom: 75px;
}
.animalitem {
    position: relative;
    text-align: center;
    color:white;
    margin-top:25px;
    margin-left: 25px;
    height:250px;
    width:300px;
    min-width:50px;
    min-height:45px;
    background-color:#750D37;
    display: inline-block;
}

.loomapilt {
    opacity:0.6;
}

.loomapilt:hover {
    opacity:1.0;
    transform: 0.5s ease;
    
}

.overlay {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:20px;
    display:inline-block;
}

.animalitem:hover {
    color:transparent;
}
.adinfo {
    width:60%;
    float:left;
}

.adinfo p {
    color: #750D37;
    font-weight: bold;
    font-size:18px;
}

.adinfo h4 {
    color: #210124;
}

.adform {
    float:right;
    background:#750D37;
    border-radius: 5px;
}

#adform1 h3 {
    color:#FEFFFE;
    text-align: center;
    font-size: 16px;
}

.adinput {
    margin-left:25px;
    margin-right:25px;
}
.adinput input {
    width:100%;
    text-align:center;
    height:25px;
    font-size:16px;
    border:none;
    border-radius:5px;
}
#saada {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:25px;
    
}

#saada input {
    width:400px;
    height:30px;
    border:none;
    background-color:#210124;
    color:#FEFFFE;
    font-weight: bold;
    border-radius:5px;
}
.footer {
    margin-top:50px;
    height:110px;
    min-width:870px;
}
.footeritems {
    background-color: #210124;
    height:110px;
    color: #FEFFFE;
    line-height:4px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight:bold;
}
.footerleft {
    float:left;
    padding-top: 5px;
    padding-left: 270px;
}

.footerright {
    float:right;
    padding-top: 5px;
    padding-right: 270px;
}